KPILOT_PORT=8000
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o
OPENAI_API_KEY=
OPENAI_ENDPOINT=
GEMINI_API_KEY=
XAI_API_KEY=
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
KUBECONFIG_PATH=~/.kube/config
KPILOT_ENCRYPTION_KEY=
